/* === CSS Variables === */
:root {
  /* === LAYOUT === */
  --layout-max-width: 81.25rem; /* 1300 */
  --content-max-width: 71.875rem; /* 1150px; */
  --header-height: 4rem;

  /* === LIGHT COLORS === */
  --white: #fff;

  /* === DARK COLORS === */
  --black: #000;
}

/* === THEME SWITCHER === */
[data-theme='light'] {
  --background-color: var(--white);
}

[data-theme='dark'] {
  --background-color: var(--black);
}