@use '../global/mixins' as *;

.header {
  grid-area: header;
  padding: rem(25) 0 rem(15);
  background: var(--background-color);
  //border-bottom: 1px solid var(--mui-palette-blue40-main);
  border-bottom: 1px solid var(--lines);
  background-color: var(--);
  position: sticky;
  top: 0;
}